<li>
 <%= link_to "#{work_notification.work_notified_by.user_name}さんがあなたのサービス#{work_notification.work.idea.id},#{work_notification.work.id}に#{work_notification.work_notified_type}しました", work_link_through_path(work_notification) %>
 </li>