<li>
 <%= link_to message_link_through_path(message_notification) do %>
 <% @user = message_notification.message_notified_by %>
 <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg',class: "img-circle notified-profile", fallback: "no_image_mini.jpg" %>
 <%= message_notification.message_notified_by.user_name %>
 <%= message_notification.message.content %>
 <% end %>
 </li>