

			<div class="col-lg-9">
				<h1 class="admin_user_title">会員一覧</h1>

					<div class="form-group sort">
						<label class="sr-only" for="InputSelect">並び替え</label>
						<select class="form-control" style="width: 70px;" id="InputSelect">
							<option>降順</option>
							<option>昇順</option>
						</select>
					</div>
				<table  class="table table-striped">
					<thead>
						<tr>
							<th>会員ID</th>
							<th>名前</th>
						</tr>
					</thead>
					<tbody>
					<% @users.each do |user| %>
						<tr>
							<td>
								<% if user.deleted_at.blank? %>
									<%= user.id %>
								<% else %>
									<%= user.id %> (退会済み)
								<% end %>
							</td>
							<td>
								<% if user.deleted_at.blank? %>
									<%= link_to user.user_name, admin_user_path(user.id) %>
								<% else %>
									<%= user.user_name %> (退会済み)
								<% end %>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
				<nav>

				</nav>
			</div>
		</div>
	</div>
