/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
  font-family: 'higashi';
  src: font-url('HigashiOme-Gothic-1.3i.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gosick';
  src: font-url('corp_round_v1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'azuki';
  src: font-url('azuki.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
a:hover {
	text-decoration: none;
}

button {
	outline: none;
}

.user_header {
    margin-top: 1px;
	width: 100%;
	height: 67px;
	background: white;
	position: relative;
	font-family: 'higashi';
}
.user_logout {
	position: absolute;
	right: 210px;
	font-size: 15px;
	top: 8px;
	color: #6699FF;
	border-radius: 2px;
	background: white;
}

.logout-img {
	display: block;
}

.logout {
	display: block;
	margin-top: -5px;
}

.Home {
	position: absolute;
	right: 330px;
	font-size: 15px;
	top: 5px;
	color: #6699FF;
	border-radius: 2px;
	background: white;
}

.home-img {
	display: block;
}

.home-text {
	display: block;
	margin-top: -4px;
}

.notified-btn{
	border: solid 2px white;
	position: relative;
	float:right;
	margin-right: 60px;
	background: white;
}

.aa {
	position: absolute;
	right: 215px;
	top: 8px;
}

.notified-btn:hover{
	border: solid 2px white;
	background: none;
}


.bell {
	display: block;
}

.bell-text {
	display: block;
	color: #6699FF;
}

.count{
	background: #2C7CFF;
	color: white;
	border-radius: 50%;
	width:20px;
	height: 20px;
	position: absolute;
	right: -12px;
	top: -4px;

}

.drop1 {
	margin-left: -160px;
	background: #F0F8FF;
	border-radius: 10px;
	margin-top: 58px;
}

.drop1:before {
	content: "";
	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -15px;
	border: 15px solid transparent;
	border-bottom: 15px solid #CCC;
}

.drop1:after {
	content: "";
	position: absolute;
	top: -27px;
	left: 50.7%;
	margin-left: -17px;
	border: 14px solid transparent;
	border-bottom: 14px solid #F0F8FF;z-index: 1;
}

.drop2 {
	margin-left: -160px;
	background: #F0F8FF;
	border-radius: 10px;
	margin-top: 13px;
}

.drop2:before {
	content: "";
	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -15px;
	border: 15px solid transparent;
	border-bottom: 15px solid #CCC;
}

.drop2:after {
	content: "";
	position: absolute;
	top: -27px;
	left: 50.7%;
	margin-left: -17px;
	border: 14px solid transparent;
	border-bottom: 14px solid #F0F8FF;z-index: 1;
}

.Userdrop{
	margin-left: -160px;
	background: #F0F8FF;
	border-radius: 20px;
	margin-top: 13px;
}

.Userdrop:before {
	content: "";
	position: absolute;
	top: -29px;
	right: 8%;
	margin-left: -14px;
	border: 14px solid transparent;
	border-bottom: 14px solid #CCC;
}

.Userdrop:after {
	content: "";
	position: absolute;
	top: -25px;
	right: 9%;
	margin-left: -16px;
	border: 12px solid transparent;
	border-bottom: 13px solid #F0F8FF;z-index: 1;
}

.dropuser {
	color: #777;
	font-family: "higashi";
}

.header-currentusername {
	position: absolute;
	right: 470px;
	top: 38px;
	font-size: 18px;
	font-size: 15px;
}

.header-currentuserimg {
	position: absolute;
	right: 550px;
	top: 10px;
}

.user_sidebar {
	display: inline-block;
	padding: 5px;
	width: 100%;
	height: 27px;
	background: #3366CC;
	text-align: center;
}

.sidelink {
	padding-right: 5px;
	color: white;
	margin-right: 8px;
	border-right: solid 1px white;
	font-family: 'higashi';
	position: relative;
}

.sidelink:hover {
	color: white;
}

.sidelink:hover:before{
  content: "";
  position: absolute;
  top: -8px;
  left: 53%;
  margin-left: -15px;
  border: 8px solid transparent;
  border-top: 7px solid #FFF;
  z-index: 2;
}

.sidelink p {
	margin: 0;
	padding: 0;
}

.logo {
	font-size: 60px;
	font-family: 'gosick';
	color: #0000BB;
	position: absolute;
	left:195px;
	bottom: -10px;
	opacity: 0.8;
}

.new_idea_text {
	position: absolute;
	bottom: 11px;
	left: 412px;
	font-size: 15px;
	font-family: 'higashi';
}

.mame-img {
	position: absolute;
	bottom: 12px;
	left: 386px;
}

.About {
	position: absolute;
	right: 360px;
	top: 10px;
}

.about-img {
	display: block;
}

.about-text {
	display: block;
	margin-left: 3px;
}

.Sign {
    position: absolute;
    right: 285px;
    top: 10px;
}

.sign-img {
	display: block;
	margin-left: 8px;
}

.sign-text {
	display: block;
}

.Login {
    position: absolute;
	right: 230px;
	top: 10px;
}

.login-img {
	display: block;
}

.login-text {
	display: block;
	margin-left: 10px;
}

.top-title {
	position: absolute;
	top:35px;
	left:406px;
	font-size: 15px;
	color: #3366CC;
	opacity: 0.8;
}

.footer {
	position: relative;
	height: 200px;
	width: 100%;
	background: #3366CC;
	color: white;
	font-family: "higashi"
}

.footer_text {
    position: absolute;
    bottom: 38%;
    right: 570px;
}

::-webkit-scrollbar{
	display: none;
}