// Place all the styles related to the idea_favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like {
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
}

.dislike {
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
}

.heart1 {
	margin-right: 2px;
}

.heart2 {
	margin-right: 2px;
}