// Place all the styles related to the idea_favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like {
	padding: 1px 7px 1px 7px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #999;
	opacity: 0.8;
}

.dislike {
	padding: 1px 7px 1px 7px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #999;
	opacity: 0.8;
}

.heart1 {
	margin-right: 2px;
}

.heart2 {
	margin-right: 2px;
}