// Place all the styles related to the idea_favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like {
	padding: 1px 7px 1px 7px;
	border-radius: 3px;
	border-right: 1px solid #CCC;
	border-bottom: 2px solid #CCC;
	opacity: 0.9;
}

.dislike {
	padding: 1px 7px 1px 7px;
	border-radius: 3px;
	border-right: 1px solid #CCC;
	border-bottom: 2px solid #CCC;
	opacity: 0.9;
}

.heart1 {
	margin-right: 2px;
}

.heart2 {
	margin-right: 2px;
}